<div>
  <label for="text-input"> Ingrese su mensaje </label>
  <input
    type="text"
    name=""
    id="chat-input"
  />
</div>
<button id="send-button">Enviar</button>
<div id="input-message">
</div>

<div id="input-chat">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>